p{
 color: red;
}

body {
  background-color: #fff;
  font-family: sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}

pre {
  background-color: #111;
  color: #0f0;
  padding: 10px;
  border-radius: 4px;
  overflow-y: auto;
  margin-top: 10px;
  white-space: pre-wrap;
}

#pageContainer {
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

#consoleDiv {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex: 0 0 400px;
  overflow: auto;
  margin: 1rem;
}

#blocklyDiv {
  flex-basis: 100%;
  height: 100%;
  min-width: 600px;
}

#output {
  height: 70%;
}
